.card-container {
    height: auto;
    width: 150px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.card-container:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2);
}

.card-header {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dog-image {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5%;
    border-style: solid;
}