.dogs-table {
    margin-left: auto;
    margin-right: auto;
    /* font-weight: 100; */
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.dogs-table td {
    vertical-align: top;
}