.footer-container {
    background-color: black;
    font-family: Verdana;
    height: auto;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            10px 10px 15px rgba(0,0,0,0.5),
            -1px -1px 30px rgba(0,0,0,0.2);
}

.footer-header {
    color: rgb(175, 16, 16);
    text-align: center;
    font-size: 12px;
    padding: 10px;
    /* font-weight: bold; */
}

.footer-table {
    color: rgb(160, 154, 154);
    font-family: Verdana;
    font-size: 6px;
    text-align: center;
    width: 100%;
}

.fancy-link {
    color: rgb(92, 87, 87);
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
 }
 
 .fancy-link:hover {
    color: rgb(175, 16, 16);
 }